<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Confirmación de Correo Electrónico</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>¡Bienvenido!</h1>
        <p>Por favor, confirma tu dirección de correo electrónico haciendo clic en el siguiente enlace:</p>
        <p>
            <a href="{{confirmationLink}}" style="background-color: #007BFF; color: #ffffff; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Confirmar Correo Electrónico</a>
        </p>
        <p>Si no solicitaste este correo electrónico, puedes ignorarlo de manera segura.</p>
    </div>
</body>
</html>
